.frame {
  border: thick solid black;
  height: 50px;
  width: 75px;
  margin: 5px;
  display: flex;
  position: relative;
}

.frameNumber {
  height: 40%;
  font-size: 35%;
  color: gray;
  margin-bottom: 60%;
  padding: 0px 2px 0px 2px;
}

.frameScore {
  height: 60%;
  margin-top: 40%;
  margin-left: 10px;
}

.firstBallScore {
  height: 50%;
  width: 40%;
  margin: 0px 0px 50% 15px;
}

.secondBallScore {
  height: 50%;
  width: 40%;
  margin-bottom: 50%;
  border: thin solid darkgrey;
}

.thirdBallScore {
  height: 50%;
  width: 40%;
  margin-bottom: 50%;
  border: thin solid darkgrey;
}

.twelfthFrameScore {
  height: 50%;

}
